body {
    background-color: #261C2C;
}

.container {
    width: 40%;
    margin: auto;
    background-color: #5C527F;
    border-radius: 5px;
    border: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.titulo-principal {
    border-bottom:  solid 1px #222;
    font-size: 2em;
}

.formulario-principal {
    display: flex;
    margin-top: 1rem;
    font-size: 1em;
}

.formulario-principal input {
    font-size: inherit;
    border-radius: 5px 0 0 5px;
    padding: 0.2rem 0.4rem;
    border: solid 2px white;
}
.formulario-principal button {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
    border: solid 2px white;

}
.lista-tarefas {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 1em;
}

.lista-tarefas p {
    width: 72%;
}

.lista-tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6E85B2;
    padding: 1rem ;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-width: 50%;
    width: auto;
    overflow: hidden;
    font-size: inherit;

}

.lista-tarefas button {
    height: 50%;
    font-size: inherit;
    border-radius: 5px;
    border: solid 1px white;
    margin-right: 0.3rem;
    padding: 0.5rem;
    align-self: center;

}
.lista-tarefas .botao-deleta {
    background-color: rgba(255, 0, 0, 0.8);
}
.lista-tarefas .botao-concluir {
    background-color: #346751;
}
.done p {
    text-decoration: line-through ;
}
.done .botao-concluir{
    opacity: 0.8;
}
.fadeout {
    opacity: 0;
    transition-duration: 0.5s;
}

button:hover {
    transition: all;
    transition-duration: 0.5s;
    opacity: 0.8;
}

@media screen and (max-width: 1023px){
    main {
        width: 95%;
        margin:0 auto;
    }
    .container {
        width: auto;
    }
    .formulario-principal {
        font-size: 1em;
    }
    .lista-tarefas{
        font-size: 1em;
    }
    .lista-tarefas li {
        padding: 0.4rem;
    }
}
