body {
    background-color: #261C2C;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    background-color: #5C527F;
    border-radius: 5px;
    border: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.titulo-principal {
    border-bottom:  solid 1px #aaa;
    font-size: 2em;
    color: #111;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 500;
}

.formulario-principal {
    display: flex;
    margin-top: 1rem;
    font-size: 1em;
}

.formulario-principal input {
    font-size: inherit;
    border-radius: 5px 0 0 5px;
    padding: 0.2rem 0.4rem;
    border: solid 2px white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.formulario-principal .formulario-input-date {
    border-radius: 0;
}

.formulario-principal button {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
    border: solid 2px white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.lista-tarefas {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 1em;
}

.lista-data {
    padding: 0.4rem;
}

.lista-tarefas p {
    width: 72%;
}

.lista-tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6E85B2;
    padding: 1rem ;
    border-radius: 5px;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    min-width: 50%;
    width: auto;
    overflow: hidden;
    font-size: inherit;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.lista-tarefas .tarefa-hora {
    margin-left: 0.3rem;
    font-size: 0.8em;
    opacity: 0.7;
}
.lista-tarefas button {
    color: #222;
    height: 50%;
    font-size: inherit;
    border-radius: 5px;
    border: solid 1px white;
    margin-right: 0.3rem;
    padding: 0.5rem;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.lista-tarefas .botao-deleta {
    background-color: rgba(255, 0, 0, 0.6);
}
.lista-tarefas .botao-concluir {
    background-color: #346751;
}
.done p {
    text-decoration: line-through ;
}
.done .botao-concluir{
    opacity: 0.8;
}
.fadeout {
    opacity: 0;
    transition-duration: 0.5s;
}

button:hover {
    transition: all;
    transition-duration: 0.5s;
    opacity: 0.8;
}

@media screen and (max-width: 1023px){
    main {
        width: 95%;
        margin:0 auto;
    }
    .container {
        width: auto;
    }
    .formulario-principal {
        font-size: 1em;
    }
    .lista-tarefas{
        font-size: 1em;
    }
    .lista-tarefas li {
        padding: 0.4rem;
    }
}
