<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>task master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

</head>
<body>
    <main>
        <div class="container" >
            <h1 class="titulo-principal">Task Master</h1>
            <form  class="formulario-principal">
                <input data-form-input type="text" placeholder="insira a tarefa aqui" required>
                <input class="formulario-input-date" type="datetime-local" data-form-date>
                <button data-form-button>enviar</button>
            </form>
            <ul class="lista-tarefas" data-list>
            </ul>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='script/tarefas.js') }}"></script>
</body>
</html>
